<div class="container">
<h1 class="appTitle">Welcome to Budget App</h1>

<button class="btn btn-primary log-in"><%= link_to 'Log in', new_user_session_path, style: 'text-decoration: none;'  %></button>
<button class="btn btn-primary"><%= link_to 'Sign up', new_user_registration_path, style: 'text-decoration: none;'  %></button>

</div>